@{
    Layout = null;
    ViewBag.Title = "设置中心";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <title>JoinIn CRM,Join In Success!</title>
    <meta name="keywords" content="广告关键词" />
    <meta name="description" content="广告关键描述" />

    <link href="~/Content/WeUI/css/weui.min.css" rel="stylesheet" />
    <link href="~/Content/WeUI/css/jquery-weui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/FoxUI/fonts/iconfont.css" rel="stylesheet" />

    <script src="~/Content/WeUI/js/jquery-2.1.4.js"></script>
    <script src="~/Content/WeUI/js/jquery-weui.js"></script>
    <script src="~/Content/WeUI/js/swiper.js"></script>


    @*苹果专用*@
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="JoinInCRM">
    <link rel="apple-touch-icon" href="~/Content/WeUI/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/WeUI/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/WeUI/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/WeUI/images/touch-icon-ipad-retina.png">


</head>
<body ontouchstart>
    <!--头部导航 开始-->
    <header class="bar bar-nav">
        <h1 class="title">@ViewBag.Title</h1>
        <a class="pull-left" onclick="javascript: { history.back(1)}"><i class="icon icon-back"></i></a>

    </header>
    <!--头部导航 结束-->
    <!--主体部分 开始-->
    <div class="content">
        <!--banner 开始-->
        <!--banner 结束-->
        @*<div class="weui-cells__title">&nbsp;</div>*@


        <div class="weui-panel__bd" id="listbox">
            <a href="#" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="@ViewBag.headimgurl" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">@ViewBag.nickname</h4>
                    <p class="weui-media-box__desc">@ViewBag.country.@ViewBag.province.@ViewBag.city</p>
                </div>
            </a>

            <div class="weui-cells__title">用户设置</div>
            <div class="weui-cells">

                <a class="weui-cell weui-cell_access" href="@Url.Action("UserAccount","System")">
                    <div class="weui-cell__hd"><i class="icon icon-my2" style="color:deepskyblue"></i>&nbsp;</div>
                    <div class="weui-cell__bd">
                        <p>我的帐户</p>
                    </div>
                    <div class="weui-cell__ft" style="font-size:small">查看</div>
                </a>
                <a class="weui-cell weui-cell_access" href="@Url.Action("UserBinding","System")">
                    <div class="weui-cell__hd"><i class="icon icon-phone" style="color:deepskyblue"></i>&nbsp;</div>
                    <div class="weui-cell__bd">
                        <p>用户绑定</p>
                    </div>
                    <div class="weui-cell__ft" style="font-size:small">查看</div>
                </a>
                <a class="weui-cell weui-cell_access" href="@Url.Action("CompanyInfo","System")">
                    <div class="weui-cell__hd"><i class="icon icon-info" style="color:deepskyblue"></i>&nbsp;</div>
                    <div class="weui-cell__bd">
                        <p>公司信息</p>
                    </div>
                    <div class="weui-cell__ft" style="font-size:small">查看</div>
                </a>
            </div>
            <div class="weui-cells__title">系统设置</div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="@Url.Action("ColorSettings","System")">
                    <div class="weui-cell__hd"><i class="icon icon-beauty" style="color:deepskyblue"></i>&nbsp;</div>
                    <div class="weui-cell__bd">
                        <p>颜色管理</p>
                    </div>
                    <div class="weui-cell__ft" style="font-size:small">设置</div>
                </a>
                <a class="weui-cell weui-cell_access" href="@Url.Action("SourceSettings","System")">
                    <div class="weui-cell__hd"><i class="icon icon-profile" style="color:deepskyblue"></i>&nbsp;</div>
                    <div class="weui-cell__bd">
                        <p>来源管理</p>
                    </div>
                    <div class="weui-cell__ft" style="font-size:small">设置</div>
                </a>
                <a class="weui-cell weui-cell_access" href="@Url.Action("RoleSettings","System")">
                    <div class="weui-cell__hd"><i class="icon icon-people3" style="color:deepskyblue"></i>&nbsp;</div>
                    <div class="weui-cell__bd">
                        <p>角色管理</p>
                    </div>
                    <div class="weui-cell__ft" style="font-size:small">设置</div>
                </a>
                <a class="weui-cell weui-cell_access" href="@Url.Action("ModelSettings","System")">
                    <div class="weui-cell__hd"><i class="icon icon-taxi" style="color:deepskyblue"></i>&nbsp;</div>
                    <div class="weui-cell__bd">
                        <p>车型管理</p>
                    </div>
                    <div class="weui-cell__ft" style="font-size:small">设置</div>
                </a>

                <a class="weui-cell weui-cell_access" href="@Url.Action("OtherSettings","System")">
                    <div class="weui-cell__hd"><i class="icon icon-settings" style="color:deepskyblue"></i>&nbsp;</div>
                    <div class="weui-cell__bd">
                        <p>其它管理</p>
                    </div>
                    <div class="weui-cell__ft" style="font-size:small">设置</div>
                </a>
            </div>
        </div>

    </div>
    <script type="text/javascript">
            //banner
            $(".swiper-container").swiper({
                loop: true,
                autoplay: 3000
            });
    </script>
    <!--底部固定导航 开始-->
    <div class="weui-tabbar">
        <a href="@Url.Action("Index","Home")" class="weui-tabbar__item ">
            <div class="weui-tabbar__icon"> <i class="icon icon-home"></i> </div>
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="@Url.Action("Remind","Home")" class="weui-tabbar__item ">
            <div class="weui-tabbar__icon"> <i class="icon icon-renwuguanli"></i> </div>
            <p class="weui-tabbar__label">提醒</p>
        </a>
        <a href="@Url.Action("Circle","Home")" class="weui-tabbar__item ">
            <div class="weui-tabbar__icon"> <i class="icon icon-process"></i> </div>
            <p class="weui-tabbar__label">工作圈</p>
        </a>
        <a href="@Url.Action("WorkData","Home")" class="weui-tabbar__item ">
            <div class="weui-tabbar__icon"> <i class="icon icon-training"></i> </div>
            <p class="weui-tabbar__label">数据</p>
        </a>
        <a href="@Url.Action("Setting","Home")" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon"> <i class="icon icon-set"></i> </div>
            <p class="weui-tabbar__label">设置</p>
        </a>
    </div>
    <!--底部固定导航 结束-->
</body>
</html>
